@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-image: url(/study.jpg);
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
